*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}
body{
    transition: 0.5s;
}
.main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 30rem;
    /* height: 15rem; */
    padding: 10px;
    border-radius: 10px;
    background: #ffe5e5;
    font-size: 40px;
    text-align: center;
}
button{
    margin-top: 5px;
    display: block;
    width: 100%;
    font-size: 25px;
    background: #000;
    color: wheat;
    border: none;
    border-radius: 5px;
    font-size: 35px;
}
button:hover{
    cursor: pointer;
}